// Place all the styles related to the Authors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.status_bar{
    width:215px;
    height:52px;
    background-color:red;
    margin-left:5px;
    margin-top:-6px;
}
