div.field_with_errors label{color: red; font-weight:bold}
div.field_with_errors input{border: 3px solid red}
.tag_delete {color: red !important}

.divider{
  margin-left: 25px;
}

.new_article{
   color: white !important;
   float: right;
}

.delete_article{
  float:right;
}

.article_input{
    margin-left: 30px;
    margin-top: 20px;
    height: 50px;
    float: left;
}

.article_tools{
    position:relative;
    z-index:4;
}

.comment_section{
  overflow:scroll;
  width: 300px;
  float:right;
  overflow-y:hidden;
  overflow-x:hidden;
}

.comment{
   height: 200px;
   width: 200px;
   overflow:scroll;
   overflow-y:hidden;
   overflow-x:hidden;
}

td{
  padding:18px;
}

.monthPicker{
    float:right;
    background-color:transparent;
}

.image_edit{
  height: 100px;
  width: 100px;
}

.create_author{
    background-color:#DEDEFF;
    border-radius:2px;
}

textarea{
    height:50px;
}

.article_stats{
  float: right;
}

a:hover{
  background-color:transparent;
  border-bottom-style:solid;
  border-width:1px;
}

.viewCount{
  color:green;
  height:75px;
  float: right;
}

#container-fluid{
  width: 80%;
  height: 400px;
  overflow:auto;
  margin-top: 50px;
  margin-left: 20px;
  padding-top:100px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;	
  background-color: #DDDDDE;
  -moz-box-shadow: 0 1px 1px 2px #ccc;
  -webkit-box-shadow: 0 1px 1px 2px #ccc;
  box-shadow: 0 1px 1px 2px #ccc;
  padding:20px;
}

.nothing{
  display:none !important;
}

.article_image{
  width: 300px;
  height: 300px;
}

#navigation{
  width:80%;
}

.topbar {
  background-color:red;
  margin-top:5px;
  border-style:solid;
  border-color:grey;
  border-width:2px;
  border-radius: 5px;
  margin-left: 18px;
  -moz-box-shadow: 5px 6px 5px #888;
  -webkit-box-shadow: 5px 6px 5px #888;
  box-shadow: 5px 6px 5px #888;
}

.center {
  text-align: center;
}

h1{
  font-family: 'Finger Paint', cursive !important;
  font-size: 25px;
}

label{
  display:inline;
}

input{
  display:inline;
}


.cool_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
.cool_list_item {
  font: 200 15px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
 
.cool_list_item:last-child {
  border: none;
}
 
.cool_list_item a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
.cool_list_item a:hover {
  font-size: 20px;
  background: #f6f6f6;
}
