div.field_with_errors label{color: red; font-weight:bold}
div.field_with_errors input{border: 3px solid red}
.tag_delete {color: red !important}

.divider{
  margin-left: 25px;
}

.new_article{
   color: white !important;
   float: right;
}

.article_tools{
    float:right;
    position:relative;
    z-index:4;
}

.monthPicker{
    float:right;
    background-color:transparent;
}

.image_edit{
  height: 100px;
  width: 100px;
}

.create_author{
    background-color:#DEDEFF;
    border-radius:2px;
}

textarea{
    height:50px;
}

.viewCount{
  color:green;
  font-size:50%;
  height:75px;
}

#container-fluid{
  width: 50%;
  height: 400px;
  overflow:auto;
  margin-top: 50px;
  margin-left: 20px;
  padding-top:100px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;	
  background-color: #DDDDDE;
  -moz-box-shadow: 0 1px 1px 2px #ccc;
  -webkit-box-shadow: 0 1px 1px 2px #ccc;
  box-shadow: 0 1px 1px 2px #ccc;
  padding:20px;
}

.nothing{
  display:none !important;
}

.article_image{
  width: 300px;
  height: 300px;
}

#navigation{
  width:80%;
}

.topbar {
  background-color:red;
  margin-top:5px;
  border-style:solid;
  border-color:grey;
  border-width:2px;
  border-radius: 5px;
  margin-left: 18px;
  -moz-box-shadow: 5px 6px 5px #888;
  -webkit-box-shadow: 5px 6px 5px #888;
  box-shadow: 5px 6px 5px #888;
}

.center {
  text-align: center;
}

h1{
  font-family: 'Finger Paint', cursive !important;
}

label{
  display:inline;
}

input{
  display:inline;
}

.flip {
  -webkit-perspective: 800;
   width: 80%;
   #height: 400px;
   position: relative;
   margin: 50px auto;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
}
.flip .card {
  #width: 100%;
  #height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  #width: 100%;
  #height: 100%;
  position: relative;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
  font-family: Georgia;
  font-size: 3em;
  text-align: center;
  line-height: 200px;
}
.flip .card .front {
  position: relative;
  z-index: 1;
    color: white;
    cursor: pointer;
}
.flip .card .back {
  -webkit-transform: rotatey(-180deg);
    background: blue;
    background: white;
    color: black;
    cursor: pointer;
}​
