<div style="width:200px;">
  <div><h1>Top Articles</h1></div>
  <div>
    <% if logged_in? %>
      <%= link_to "New Article", new_article_path, :class => "new_article btn btn-primary btn-large" %>
    <% end %>
  </div>

  <div>
    <ul id="articles" class="cool_list">
      <% @articles.each do |article| %>
        <li class="cool_list_item">
          <%= link_to article.title, article_path(article), 
            :class => 'article_title', :id => "article_#{article.id}" %>
        </li>
      <% end %>
    </ul>
   </div>
</div>
