
<div><h1>All Articles</h1></div>
<div>
  <% if logged_in? %>
    <%= link_to "New Article", new_article_path, :class => "new_article btn btn-primary btn-large" %>
  <% end %>
</div>

<div>
  <select name="Filter By Month" id="scroller" style="display:none">
      <option value="1">January</option>
      <option value="2">Februrary</option>
      <option value="3">March</option>
      <option value="4">April</option>
      <option value="5">May</option>
      <option value="6">June</option>
      <option value="7">July</option>
      <option value="8">August</option>
      <option value="9">September</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>
  </select>
</div>


<ul id="articles">
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article), 
        :class => 'article_title', :id => "article_#{article.id}" %>
    </li>
  <% end %>
</ul>

